@media (max-width: 1200px) {
  
    nav{
        padding: 1rem 2rem;
    }
    nav a {
        font-size: 20pt;
    }
    nav #logo img {
        width: 70px;
    }
    nav button {    
        font-size: 18pt;
    }
}


@media (max-width: 768px) {

    nav ul, nav button {
        display: none;
    }
    nav #bars {
        display: block;
    }

    main {
        padding: 0 6rem;
    }
}


@media (max-width: 480px) {
  
    main {
        padding: 0 1.5rem;
    }

    h1 {
        font-size: 35pt;
    }
}

@media (max-width: 400px) {

    main img {
        width: 300px;
    }

    main p {
        font-size: 16pt;
    }

    main button {
        margin-top: 40px;
    }

    h1{
        font-size: 25pt;
    }
    .flavors img {
        width: 200px;
    }

    .content {
        gap: 120px;
    }

    .desc {
        top: 150px; 
        padding: 20px 40px;
        padding-top: 60px;
        width: 300px;
        height: 270px;
        gap: 10px;
    }

    #title {
        font-size: 18pt;
    }

    #description {
        font-size: 10pt;
    }

    #price {
        font-size: 12pt;
        margin-bottom: 10px;
    }
}